.facil {
    height: 26vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    ion-img {
      width: 100px;
      height: 100px;
      transform: rotateY(180deg);
      transition: transform 0.3s ease-in-out;
    }
  }

  .medio {
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    ion-img {
      width: 100px;
      height: 100px;
      transform: rotateY(180deg);
      transition: transform 0.3s ease-in-out;
    }
  }

  .dificil {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    ion-img {
      width: 50px;
      height: 50px;
      transform: rotateY(180deg);
      transition: transform 0.3s ease-in-out;
    }
  }
  
  .carta-visible {
    ion-img {
      transform: rotateY(0);
    }
  }
  
  .game {
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  ion-card-content{
    background-color: transparent;
  }

  p{
    font-family: "Comic";
    color: black;
    font-size: 18px;
  }
  
  .timer {
    text-align: center;
    font-size: 30px;
    font-family: "Comic";
    font-size: 30px;
  }


  .level-buttons {
    background-image: url('/assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.level-buttons button {
  font-size: 70px;
  opacity: 0.8;
  font-family: "Comic";
  border-radius: 30px;
  border: 2px solid yellow;
  height: 30vh;
  width: 85%;
  margin-bottom: 16px;
  transition: transform 0.2s; /* Agregamos una transición suave */

  &:hover {
    transform: scale(1.1); /* Agrandar el botón al 110% del tamaño original cuando se pasa el mouse */
  }

  &:focus {
    transform: scale(1.1); /* Agrandar el botón al 110% del tamaño original cuando está enfocado (clic) */
    outline: none; /* Elimina el contorno al hacer clic para que se vea más limpio */
  }
}