<ion-content>
  <div *ngIf="!nivelSeleccionado">
    <div class="level-buttons">
      <button (click)="elegirNivel('facil')">Fácil</button>
      <button (click)="elegirNivel('medio')">Medio</button>
      <button (click)="elegirNivel('dificil')">Difícil</button>
    </div>
  </div>

  <div *ngIf="nivelSeleccionado=='facil'">
    <div class="timer">
      Tiempo: {{ tiempoTranscurrido }}
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let carta of cartas; let i = index">
          <ion-card class="facil" [ngClass]="{ 'carta-visible': carta.visible }" (click)="seleccionarCarta(i)">
            <ion-img [src]="carta.visible ? '/assets/' + carta.imagen : '/assets/images/pregunta.png'"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="nivelSeleccionado=='medio'">
    <div class="timer">
      Tiempo: {{ tiempoTranscurrido }}
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let carta of cartas; let i = index">
          <ion-card class="medio" [ngClass]="{ 'carta-visible': carta.visible }" (click)="seleccionarCarta(i)">
            <ion-img [src]="carta.visible ? '/assets/' + carta.imagen : '/assets/images/pregunta.png'"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  
  <div *ngIf="nivelSeleccionado=='dificil'">
    <div class="timer">
      Tiempo: {{ tiempoTranscurrido }}
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let carta of cartas; let i = index">
          <ion-card class="dificil" [ngClass]="{ 'carta-visible': carta.visible }" (click)="seleccionarCarta(i)">
            <ion-img [src]="carta.visible ? '/assets/' + carta.imagen : '/assets/images/pregunta.png'"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>