
  <ion-fab *ngIf="!nivelSeleccionado && !mostrarPodio" vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="this.mostrarPodio = true" color="success" size="large">
      <ion-icon name="podium-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="mostrarPodio || this.nivelSeleccionado != '' " vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="volver()" color="warning" size="large">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="this.firebaseService.logout()" color="danger" size="large">
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-content>
  <div class="Podio" *ngIf="mostrarPodio">
      <h1 style="margin-top: 2vh;text-align: center;font-family: Comic;">PODIO</h1>
      <ion-list>
        <ion-card *ngFor="let puntaje of puntajesMasBajos;let i = index">
          <ion-card-header style="background-color: lightyellow">
            <img [src]="imagenesPodio[i % imagenesPodio.length]" />
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <p><strong> 😎 Usuario </strong>  {{ puntaje.usuario }}</p>
            <p><strong> 📈 Puntaje:</strong> {{ puntaje.puntaje }}</p>
            <p><strong> 📆 Fecha:</strong> {{ puntaje.fecha }}</p>
          </ion-card-content>
        </ion-card>
      </ion-list>
  </div>
</ion-content>


  <div *ngIf="!nivelSeleccionado && !mostrarPodio">
    <div class="level-buttons">
      <button (click)="elegirNivel('facil')">Fácil</button>
      <button (click)="elegirNivel('medio')">Medio</button>
      <button (click)="elegirNivel('dificil')">Difícil</button>
    </div>
  </div>

  <div class="game" *ngIf="nivelSeleccionado=='facil'">
    <div class="timer">
      Tiempo: {{ tiempoTranscurrido }}
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let carta of cartas; let i = index">
          <ion-card class="facil" [ngClass]="{ 'carta-visible': carta.visible }" (click)="seleccionarCarta(i)">
            <ion-img [src]="carta.visible ? '/assets/' + carta.imagen : '/assets/images/pregunta.png'"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
  </div>

  <div class="game" *ngIf="nivelSeleccionado=='medio'">
    <div class="timer">
      Tiempo: {{ tiempoTranscurrido }}
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let carta of cartas; let i = index">
          <ion-card class="medio" [ngClass]="{ 'carta-visible': carta.visible }" (click)="seleccionarCarta(i)">
            <ion-img [src]="carta.visible ? '/assets/' + carta.imagen : '/assets/images/pregunta.png'"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
  </div>

  <div class="game" *ngIf="nivelSeleccionado=='dificil'">
    <div class="timer">
      Tiempo: {{ tiempoTranscurrido }}
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let carta of cartas; let i = index">
          <ion-card class="dificil" [ngClass]="{ 'carta-visible': carta.visible }" (click)="seleccionarCarta(i)">
            <ion-img [src]="carta.visible ? '/assets/' + carta.imagen : '/assets/images/pregunta.png'"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
  </div>