<div class="main">
  <ion-content [fullscreen]="true" overflow-scroll="false" class="contenedor">
    <div class="button-container">
      <ion-fab class="custom-fab-inicio" horizontal="start">
        <ion-fab-button color="tertiary">
          <img src="/assets/images/user1.png">
        </ion-fab-button>
      </ion-fab>
      <ion-fab class="custom-fab-medio" horizontal="center">
        <ion-fab-button>
          <img src="/assets/images/user2.png" alt="">
        </ion-fab-button>
      </ion-fab>
      <ion-fab class="custom-fab-final" horizontal="end">
        <ion-fab-button>
          <img src="/assets/images/user3.png" alt="">
        </ion-fab-button>
      </ion-fab>
    </div>
    <ion-range style="margin-top:35px;margin-left:35px; margin-right: 35px;margin-bottom: 0px;"
    aria-label="Custom range"
    [min]="0"
    [max]="3"
    [pin]="true"
    [ticks]="true"
    [snaps]="true"
    (ionChange)="CargaUsuarios($event)"
  >
  </ion-range>

  <ion-card class="card" style="margin-top: 5%;">
      <ion-card-content>
        <form (submit)="Login()">
          <ion-item class="ion-item">
            <ion-input class="ionput" aria-label="📩 Correo" [formControl]="correo" [clearOnEdit]="true" type="email"
              required placeholder="📩 Correo" errorText="Correo invalido" helperText="Ingrese un correo valido"
              full></ion-input>
          </ion-item>
          <div class="alert alert-danger mensajeError mt-1 bi bi-exclamation-octagon-fill"
            [hidden]="correo.valid || (correo.pristine && correo.untouched)">
  
            <span *ngIf="correo.errors?.['required']">
              Este campo es obligatorio
            </span>
  
            <span *ngIf="correo.errors?.['email']">
              Debe contener @
            </span>
          </div>
          <br>
          <img class="gif" style="height: 300px;" src="/assets/images/login.png"/>

          <ion-item class="ion-item">
            <ion-input class="ionput"  [formControl]="password" aria-label="Contraseña" [clearOnEdit]="true" type="password" required
              placeholder="🔑 Contraseña" [counter]="true" maxlength="8"
              errorText="Contraseña incorrecta" full></ion-input>
          </ion-item>
          
          <div class="alert alert-danger mensajeError mt-1 bi bi-exclamation-octagon-fill"
            [hidden]="password.valid || (password.pristine && password.untouched)">
  
            <span *ngIf="password.errors?.['required']">
              Este campo es obligatorio
            </span>
  
            <span *ngIf="password.errors?.['minlength']">
              Debe tener como minimo 6 caracteres
            </span>
  
          </div>
          <br>
          <div>
            <ion-button expand="block" shape="round" fill="outline" size="large" type="submit"> <ion-icon slot="start" name="star"></ion-icon> <p style="font-family: Comic; font-size: 25px;">Ingresar</p> </ion-button>
          </div>
  
        </form>
      </ion-card-content>
    </ion-card>
    
    <div *ngIf="showSpinner" class="custom-spinner">
      <img src="/assets/images/icon.png"/>
    </div>
  </ion-content>
  </div>